<div class="row">
  <div class="col-xs-12">
    <%= form_tag '/menus/' + params[:id], method: :put, class:'form-horizontal', role:'form' do %>
      <div class="group">
        <div class="row at-row">
          <div class="col-xs-5 col-xs-offset-1 at-title-big">
            <%= @menu.week_description %>
          </div>
          <div class="col-xs-5 text-right">
            <%= submit_tag 'Save', class:'btn btn-default btn-xm at-btn-dark' %> <%= link_to 'Cancel', menus_path, class:'btn btn-default btn-xm at-btn-dark' %>
          </div>
        </div>
      </div>
      <%= render 'shared/validations', object: @menu %>
      <% @menu.daily_menus.each do |day, meal| %>
        <div class="group">
          <div class="form-group">
            <div class="at-label col-xs-1 col-xs-offset-1 at-title-green">
              <%= day %>
            </div>
          </div>
          <% meal.each do |dish, description| %>
            <div class="form-group">
              <div class="at-label col-xs-1 col-xs-offset-1">
                <%= label_tag "#{day}_#{dish}", dish.humanize %>
              </div>
              <div class="col-xs-6">
                <%= text_area_tag "#{day}_#{dish}", description, rows: 3, class:'form-control', autofocus: true  %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
