<h1>Edit a menu</h1>

<%= render 'validations' %>

<%= form_tag '/menus/' + params[:id], method: :put do %>
  <p>
    <%= label_tag :week, 'Week' %>
    <%= text_field_tag :week, @menu.week %>
  </p>
  <% @menu.daily_menus.each do |day, meal| %>
    <p><%= day.capitalize %></p>
    <% meal.each do |dish, description| %>
      <%= label_tag "#{day}_#{dish}", dish.humanize %>
      <%= text_area_tag "#{day}_#{dish}", description %><br \>
    <% end %>
  <% end %>
  <p>
    <%= submit_tag 'Save' %> <%= link_to 'Cancel', menus_path %>
  </p>
<% end %>
