<div class="at-group">
  <div class="row at-row">
    <div class="col-xs-5 col-xs-offset-1 at-title-big">
      <%= @menu.week_description %>
    </div>
    <div class="col-xs-5 text-right">
      <%= link_to 'Ok', menus_path, class:'btn btn-default btn-xm at-btn-dark' %>
    </div>
  </div>
</div>
<% @menu.daily_menus.each do |day, meal| %>
<div class="at-group">
  <div class="row at-row">
    <div class="col-xs-1 col-xs-offset-1 at-title-green">
      <%= day %>
    </div>
  </div>
  <% meal.each do |dish, description| %>
    <div class="row at-row">
      <div class="col-xs-1 col-xs-offset-1">
        <strong><%= dish.humanize %></strong>
      </div>
      <div class="col-xs-6">
        <%= simple_format(description) %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
