<div class="row">
  <div class="col-xs-12">
    <%= form_for(@user, html: { class:'form-horizontal', role:'form' }) do |f| %>
    <div class="at-group">
        <div class="row at-row">
          <div class="col-xs-5 col-xs-offset-1 at-big-title-green">
            Edit my account details
          </div>
          <div class="col-xs-5 text-right">
            <%= submit_tag 'Save', class: 'btn btn-default btn-xm at-btn-dark' %>
            <%= link_to 'Cancel', user_path(@user), class: 'btn btn-default btn-xm at-btn-dark', role: 'button' %>
          </div>
        </div>
      </div>
      <%= render 'shared/user_validations', object: @user %>
        <div class="at-content-wrapper">
          <div class="form-group">
            <div class="at-label col-xs-1 col-xs-offset-1">
              <%= f.label :name %>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :name, class:'form-control', autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="at-label col-xs-1 col-xs-offset-1">
              <%= f.label :email %>
            </div>
            <div class="col-xs-4">
              <%= f.email_field :email, class:'form-control', autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="at-label col-xs-1 col-xs-offset-1">
              <%= f.label :password %>
            </div>
            <div class="col-xs-4">
              <%= f.password_field :password, class:'form-control', autofocus: true %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>