<div class="row at-actions-wrapper">
  <div class="col-xs-5 col-xs-offset-1">
    <div class="at-title-green">
      User management
    </div>
  </div>
</div>
<div class="row at-actions-wrapper">
  <div class="col-xs-5 col-xs-offset-1">
    <%= link_to 'Create', new_user_path, class: "btn btn-default btn-xm at-btn-dark" %>
  </div>
  <div class="col-xs-5 text-right">
    <%= will_paginate @users, inner_window: 0, outer_window: 0 %>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% @users.each do |user| %>
        <div class="at-list-item">
          <span class="at-list-gravatar">
            <%= gravatar_for user, size: 25 %>
          </span>
          <%= user.name %> | <%= user.email %>
          <div class="pull-right">
            <%= link_to 'View', user_path(user), class: "btn btn-default btn-xs at-btn-xs-light", role: "button" %>
            <%= link_to 'Edit', edit_user_path(user), class: "btn btn-default btn-xs at-btn-xs-light", role: "button" %>
            <%= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure you want to permanently delete the user: #{user.email}?"}, class: "btn btn-default btn-xs at-btn-xs-dark", role: "button" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
